Adafruit-Blinka==3.3.6
adafruit-circuitpython-busdevice==4.1.1
adafruit-circuitpython-rgb-display==3.8.0
Adafruit-PlatformDetect==1.4.1
Adafruit-PureIO==1.0.4
backcall==0.1.0
decorator==4.4.1
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.15.2
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.2
ptyprocess==0.6.0
pyftdi==0.42.2
Pygments==2.7.4
pyserial==3.4
pyusb==1.0.2
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
six==1.13.0
spidev==3.4
sysv-ipc==1.0.1
traitlets==4.3.3
wcwidth==0.1.8
